<!DOCTYPE html>

<html lang="es">
<head>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','<%=ANALITYCS_KEY%>');</script>
  <!-- End Google Tag Manager -->
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  
  <meta charset = "iso-8859-1"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="theme-color" content="#1f2732"/>
  <meta property="og:title" content="C.V Anthony Carrillo"/>
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://ac-games.herokuapp.com" />
  <meta property="og:image" content="https://github.com/Anthonyzok521/P2_30659229/blob/master/public/images/CV.png?raw=true" />

  <title>Curriculum Vitae (cv) Anthony Carrillo</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>

  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%=ANALITYCS_KEY%>"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="modal">
    <h3>Completa el CAPTCHA</h3>
    <p>Para enviar un mensaje debes indicar que no eres un robot.</p>
    <button id="modal_OK">Ok</button>
  </div>

  <div class="container">
    <div class="title">
      <img src="images/ACGAMES.jpg" width="130px" height="130px">
      <div class="resume">
        <h1>Anthony Carrillo</h1>
        <small>Ingeniero de Software</small>
        <p>Soy un ingeniero de software, desarrollo apps para escritorio(PCs) y dispositivos m&oacute;viles(Android) con 3 a&ntilde;os de experiencia creando programas y videojuegos b&aacute;sicos bajo mi misma "empresa" AC GAMES.</p> 
      </div>
    </div>

    <main>
    <section class="skill">
      <h2>Habilidades</h2>
      <ul>
        <li><i class="point">• </i>Escribiendo c&oacute;digo.</li>
        <li><i class="point">• </i>Crear videojuegos.</li>
        <li><i class="point">• </i>Desarrollar programas multiplataforma.</li>
        <li><i class="point">• </i>Mantenimiento a computadoras.</li>
        <li><i class="point">• </i>Instalaci&oacute;n de software y sistema operativo.</li>
        <li><i class="point">• </i>C++, C# y Python.
        <li><i class="point">• </i>MySQL.</li>
        <li><i class="point">• </i>GIMP, Photoshop e Inkscape.</li>
      </ul>
    </section>

    <section class="exp">
      <h2>Experiencia</h2>
      <b>Ingeniero de software junior</b><br>
      <small><i>AC GAMES | 2020-pesente</i></small>
      <p>Desarrollador, instalo y configuro aplicaciones, dise&ntilde;o gr&aacute;fico, testeo de apliciones, lanzamiento de la aplicaci&oacute;n, trabajar con simbolo del sistema, crear versiones de respaldo con git y limpieza de las computadoras.</p>
    </section>

    <section class="educt">
      <h2>Educaci&oacute;n</h2>
      <ul>
      <li><i class="point">• </i>Bachillerato en U.E.P "Juan de Bol&iacute;var y Villegas" Villa de Cura, Estado Aragua.</li>
      <li><i class="point">• </i>Grado de estudio: Actualmente universitario en la Uiversidad Nacional Experimental R&oacute;mulo Gallegos(UNERG), Ingenier&iacute;a de Sistemas(AIS), San Juan de los Morros, Estado Gu&aacute;rico. </li>
    </ul>
  </section>

    <section class="contact">
      <h2>Contacto</h2>
      <p><b>Telf: </b><i>0412-1438904</i></p>    
      <ul>
        <li><i class="point">• </i><b>Correo: </b><i><a href="https://anthonyzok521@gmail.com">anthonyzok521@gmail.com</a></i></li>
        <li><i class="point">• </i><b>Twitter: </b><i><a href="https://twitter.com/AC_GAMES_">@AC_GAMES_</a></i></li>
        <li><i class="point">• </i><b>Itch.io: </b><i><a href="https://acgames-developer.itch.io">https://acgames-developer.itch.io</a></i></li>
      </ul>
    </section>
  </main>
  </div >

  <footer>
    <form action="/" method="post">
      <input id="name" name="name" type="text" placeholder="Tu nombre" value="<%=datas.name%>" required>
      <input id="email" name="email" type="email" placeholder="tucorreo@dominio.com" value="<%=datas.email%>" required>
      <br>
      <textarea name="message" value="<%=datas.message%>">Hey!!! Aquí escribe tu mensaje :D</textarea>
      <input type="submit" value="Enviar" class="botonEnviar">
      <input id="ip" type="hidden" name="ip" value="<%=datas.ip%>">
      <input id="date" type="hidden" name="date" value="<%=datas.date%>">
      <input id="time" type="hidden" name="time" value="<%=datas.time%>">
      <input id="country" type="hidden" name="country" value="<%=datas.country%>">

      <div id="html_element">
        <div class="g-recaptcha" data-sitekey="<%=CAPTCHA_KEY%>"></div>
      </div>
    </form>
    <div class="details">
      <p>AC GAMES ©2022</p>
      <p>T&eacute;rminos y pol&iacute;ticas de privacidad</p>
      <p>Curriculum Vitae</p>
    </div>
  </footer>
  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
        let xmlhttp = new XMLHttpRequest();
        let url = "https://api.ipfind.com/me?auth=<%=API_KEY%>";

        xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
              let result = JSON.parse(this.responseText);
              let _continent = result.continent;
              let _country = result.country;
              let _city = result.city;
              let input_country = document.getElementById('country');
              input_country.value = _continent +", "+ _country +", "+ _city;
            }
        };

        xmlhttp.open("GET", url, true);
        xmlhttp.send();
  </script>
  <script>
    let modal = document.querySelector('.modal');
    let ok = document.querySelector('#modal_OK');
    let res = "<%=res_cap%>";
    modal.style.display = "none";
    if(res == "false"){
    modal.style.display = "flex";
    }else if (res != "false"){
      modal.style.display = "none";
    }

    ok.addEventListener('click', ()=>{
      modal.style.display = "none";
      res = "";
    });

  </script>
</body>
</html>